{% extends 'base.html.twig' %}
{% block body %}
    <div class="relative top-16 border-t">
        {% if app.user.messagesReceived|length or app.user.messagesSent|length %}
            <div class="w-1/3 mx-auto mt-6">
                {% for conversation in conversations %}
                    <a href="/messaging/{{ app.user.id ~ '-' ~ (app.user.id == conversation.sender.id ? conversation.receiver.id : conversation.sender.id) }}">
                    <div class="border rounded p-4 mb-3 w-full cursor-pointer hover:shadow-md">
                        <div class="flex items-center">
                            <img src="{{ asset('build/images/avatar_default.19e0a8ff.jpg') }}" class="w-16 h-16 rounded-full border">
                            <div class="font-semibold text-2xl ml-4">
                                {% if conversation.sender.id != app.user.id %}
                                    {{ conversation.sender.username }}                    
                                {% else %}
                                    {{ conversation.receiver.username }}
                                {% endif %}
                                <div class="text-base font-normal">
                                    {{ conversation.sender.id != app.user.id ? conversation.sender.username : 'You' }}:
                                    <span class="font-roboto-light text-sm ml-1">
                                        {{ conversation.content }}
                                    </span>
                                </div>   
                            </div>
                        </div>
                    </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center mt-[15vh]">
                <img src="https://s3-media0.fl.yelpcdn.com/assets/public/thank_you_327x200_v2.yji-d4271fb447609986c493.svg" class="w-1/4 mx-auto">
                <p class="font-bold text-3xl">No messages at this time.</p>
                <p class="font-semibold text-2xl">When someone sends you a message, it will appear here.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}