{% set reactions = {'useful': 'fa-lightbulb', 'funny': 'fa-face-laugh-squint', 'cool': 'fa-face-grin-wink'} %}
{% for reaction, icon in reactions %}
    <button 
        data-review-id="{{ review.id }}" 
        data-reaction="{{ reaction }}"
        data-reaction-count="{{ review.reactions[reaction] + 1 }}"
        class="py-1 px-2 border border-zinc-400 rounded flex items-center reaction-btn">
        <i class="fa-regular {{ icon }} mr-2"></i>
        {{ reaction|capitalize }}
        <span class="font-roboto-light ml-2 text-xs reaction-count">
            {{ review.reactions[reaction] }}
        </span>
    </button>
{% endfor %}